
body{
    margin: 0em;
    padding: 0em;
    background-image: url(./assets/background-space5.jpg);
    background-repeat: repeat-y;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1{
    color: white;
    size: 8px;
    font-family: 'Lato', sans-serif;
}

h5{
    color: #0AC8B1;
}

.header a{
    color: black;
}

/*Hero*/

.hero{
    background-image: url('./assets/background-space.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.hero-logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-logo img{
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.hero-text{
    width: 250px;
    text-align: center;
    justify-content: center;
}

.hero button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: black;
    border-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/*Catálogo*/

.catalogo{
    background-image: url(./assets/background-space5.jpg);
    background-repeat: repeat-y;
}

.container-title{
    display: flex;
    justify-content: center;
}

.catalogo-title{
    display: flex;
    color: white;
    margin: 0em;
    padding: 30px 0px;
}

.catalogo-cuadrado{
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 2;
    justify-content: center;
}

.cuadrado{
    border-radius: 10px;
    background-color:#1f8bac51;
    width: 150px;
    height: 190px;
}

.cuadrado img{
    padding-top: 10px;
}

/*FAQs*/

.faq-title{
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cards-faq{
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 5;
    grid-gap: 20px;
    justify-content: center;
}

.cards{
    background-color: rgba(255, 255, 255, 0.899);
    width: 300px;
    height: 60px;
    border-radius: 10px;
}

.cards p{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 14px;
}

/*Contacro*/

.contacto-title{
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contacto-button{
    display: flex;
    justify-content: center;
}

.contacto-button button{
    background-color: #0AC8B1;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

/*Footer*/

footer img{
    width: 100px;
    height: 100px;
    padding: 30px;
}

.footer-img{
    display: flex;
    justify-content: center;
}

.footer-links{
    color: white;
    text-align: center;
}