
body{
    margin: 0em;
    padding: 0em;
    background-image: url(./assets/background-space5.jpg);
    background-repeat: repeat-y;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1{
    color: white;
    size: 8px;
    font-family: 'Lato', sans-serif;
}

h5{
    color: #0AC8B1;
}

.header a{
    color: black;
}

/*Hero*/

.hero{
    background-image: url('./assets/background-space.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 720px;
}

.hero-logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-logo img{
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.hero-text{
    width: 250px;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}

.hero button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-top: 60px;
    background-color: black;
    border-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.drop-down{
    display: grid;
    grid-template-columns: repeat(1, 50px);
    grid-template-rows: 3;
    justify-content: center;
    margin-top: 50px;
}

.drop-down img{
    width: 80px;
    height: 50px;
    margin: -10px;
}
/*Catálogo*/

.catalogo{
    background-image: url(./assets/background-space5.jpg);
    background-repeat: repeat-y;
}

.container-title{
    display: flex;
    justify-content: center;
}

.catalogo-title{
    display: flex;
    color: white;
    margin: 0em;
    padding: 30px 0px;
}

.catalogo-cuadrado{
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 2;
    justify-content: center;
}

.cuadrado{
    border-radius: 10px;
    background-color:#1f8bac51;
    width: 150px;
    height: 190px;
}

.cuadrado img{
    margin-top: 5px;
}

.cuadrado h3{
    margin: 0px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/*FAQs*/

.faq-title{
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.cards-faq{
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: 5;
    grid-gap: 20px;
    justify-content: center;
}

.cards{
    background-color: rgba(255, 255, 255, 0.899);
    width: 300px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.cards p{
    padding-left: 20px;
    font-size: 14px;
}

.cards img{
    margin-left: 10px;
}
/*Contacto*/

.contacto-title{
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contacto-button{
    display: flex;
    justify-content: center;
}

.contacto-button button{
    background-color: #0AC8B1;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
}

/*Footer*/

footer img{
    width: 100px;
    height: 100px;
    padding: 30px;
}

.footer-img{
    display: flex;
    justify-content: center;
}

.footer-links {
    color: white;
    text-align: center;
}

.footer-social{
    display: flex;
    justify-content: space-evenly

}

.footer-social img{
    width: 50px;
    padding: 5px 10px;
}

.derechos p{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
}

/* SideBar */
* {
    box-sizing: border-box;
}

.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#sideMenu {
  width:250px;
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  background-color: #252a32;
  color: white;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.99
}

.nav-items {
    padding-inline-start: 0;
}

.nav-items > li{
  list-style-type: none;
  margin-bottom: 50px;
  text-align: left;
  font-size: 30px;
}

.nav-items > li:hover{
  cursor: pointer;
  transform: scale(1.01)
}

#hamburgerBtn {
  color: white;
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

#hamburgerBtn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

  body {
    margin-left: 0px;
  }
  #sideMenu {
    width: 100vw; 
    transform: translateX(1000px);
    transition: 500ms transform;
  }
  
  #sideMenu.open {
    transform: translateX(0);
  }
  
  .nav-items > li{
    list-style-type: none;
    margin-bottom: 50px;
    text-align: center;
  }
  
  #hamburgerBtn {
    display: inline-block;
    z-index: 10;
  }
}