body{
    margin: 0px;
    padding: 0px;
    background-image: url(../assets/background-space5.jpg);
    background-repeat: repeat-y;
}

.navegacion{
    display: flex;
}

button{
    background: none;
    border-style: none;
    margin-top: 30px;
    margin-left: 20px;
}

.return{
    width: 40px;
}

.rocket{
    width: 35px;
}

h2{
    color: white;
    text-align: center;
    margin: 25px 0px;
    font-family: lato;
    font-size: 20px;
    font-weight: 600;
}